@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin image($width, $right, $position, $padding) {
    width: $width;
    right: $right;
    position: $position;
    padding: $padding;
}

// display information on image
@mixin display($position, $z-index) {
    position: $position;
    z-index: $z-index;
}
