.header {
    background: black;
    color: white;
    .nav-left {
        h1 {
            display: inline;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            font-size: 35px;
        }
        ul {
            display: inline;
            li {
                display: inline-block;
                list-style-type: none;
                color: white;
                a {
                    color: white;
                    text-decoration: none;
                    &.homered {
                        background-color: orange;
                    }
                    &:hover.homeblack {
                        background-color: green;
                    }
                }
            }
        }
        .nav {
            font-family: 'Montserrat', sans-serif;
        }
    }
    .nav-right {
        .image-menu {
            @include image(60px, 60px, relative, 15px);
        }
        .image-cart {
            @include image(50px, 50px, relative, 15px);
        }
    }
}

.divider {
    background-color: orange;
    height: 5px;
}

// title product page
.product-page-title {
    @include size(100%, 70px);
    h3 {
        color: red;
        font-family: 'Ubuntu', sans-serif;
    }
}

// show product product-page
.row-product {
    .product-shop {
        .info-product-shop {
            @include size(100%, 450px);
            background: #f4f4f4;
            border-radius: 10px;
            .show-product {
                @include size(100%, 250px);
                border-bottom: 3px solid;
            }
            h3 {
                font-family: 'Ubuntu', sans-serif;
                font-size: 25px;
                font-weight: bold;
                color: black;
            }
            .add-cart {
                background: orange;
                color: black;
                font-size: 20px;
                font-weight: bold;
                border-radius: 10px;
            }
        }
    }
}
// banner home page
.banner-image {
    @include size(100%, 1067px);
    background-image: url("../image/banner/banner-above.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .form-search-product {
        .title-search {
            .content-search {
                h2 {
                    color: white;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 120px;
                    font-weight: bold;
                }
                h3 {
                    color: white;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 30px;
                }
            }
            .search-form-car {
                .select-product-name{
                    @include size(400px, 50px);
                    font-size: 20px;
                }
                #searchButton {
                    @include size(150px, 50px);
                    background-color: orange;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                    border: none;
                }
            }
        }
    }
}
// banner about page
.banner-about {
    @include size(100%, 600px);
    .banner-about-above {
        @include size(100%, 600px);
    }
}

// Content info
.content-info {
    a {
        font-size: 25px;
        font-family: 'Ubuntu', sans-serif;
        color: #FFA500;
    }
    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        color: white;
        font-weight: bold;
        line-height: 100px;
    }
    p {
        font-family: 'Ubuntu', sans-serif;
        color: white;
        font-size: 18px;
    }
    .content-info-left {
        @include size(100%, 400px);
        background: #333;
        opacity: 1;
    }
    .content-info-center {
        @include size(100%, 400px);
        background: #303030;
    }
    .content-info-right {
        @include size(100%, 400px);
        background: #333;
        opacity: 1;
    }
}

@media (min-width: 1010px) {
    .content-info .content-info-common {
        height: 400px;
    }
}

// Image introduce product
.container {
    p {
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    h1{
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        color: orange;
        font-size: 60px;
    }
    .img-product {
        .img-info-product {
            @include size(90%, 300px);
            background: #ffd600;
            border-radius: 25px;
            .img {
                @include size(100%, 250px);
                border-radius: 25px;
            }
            h3 {
                font-family: 'Merriweather', serif;
                font-weight: bold;
                font-size: 20px;
                text-transform: none;
            }
        }
        &:hover.img-info-product {
            background: #333;
            color: #ffd600;
        }
    }
    // animation: marqueen image
    .marq {
        .marq-img {
            @include size(150px, 150px);
        }
    }
    // information service
    .info-service {
        h2 {
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 70px;
        }
    }
    .info-package-shop {
        .details-package {
            @include size(100%, 250px);
            .icon-package {
                @include size(50px, 50px);
            }
            h2 {
                font-family: 'Ubuntu', sans-serif;
                font-weight: bold;
            }
        }
    }
    // product page
    .row-product {
        padding-top: 20px;
        .product-shop {
            .info-product-shop {
                @include size(100%, 500px);
                color: orange;
            }
        }
    }

    // form add to cart of add cart page
    .jumbotron {
        background: #358CCE;
        color: #FFF;
        border-radius: 0px;
    }
    .jumbotron-sm {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .jumbotron small {
        color: #FFF;
    }
    .h1 small {
        font-size: 24px;
    }

    // form select date month time
    .your-order {
        font-weight: 3px;
        font-family: 'Ubuntu', sans-serif;
    }
    .select-date {
        .date {
            display: block;
            border: none;
        }
        .name-legend {
            margin-top: .25em;
            font-size: 100%;
        }
        label {
            position: absolute;
        }
        select {
            font-size: 100%;
            display: inline;
        }
        .inst {
            font-size: 75%;
            color: blue;
        }
        &:hover select {
            border-color: gray;
            background-color: lightyellow;
        }
    }
    // container of about page
    .row-about-top {
        .title-about {
            h3 {
                font-size: 40px;
                font-weight: bold;
            }
            h2 {
                font-size: 70px;
                font-weight: bold;
                color: orange;
                font-family: 'Ubuntu', sans-serif;
            }

        }
    }
    .row-about-bottom {
        @include size(100%, 250px);
        .img-about-man {
            .about-man {
                @include size(100%, 250px);
            }
        }
    }

    // read more page
    .read-more {
        .image-read {
            @include size (100%, 600px);
        }
        h2 {
            font-family: 'Ubuntu', sans-serif;
        }
    }
    .text-center {
        width: 200px;
        margin: 0 auto;
        .pagination {
            margin: 20px 0 10px 0;
            a {
                text-decoration: none;
                color: #FFF;
                background-color: #3273d6;
                padding: 5px;
                border: 1px solid #3273d6;
            }
            .active {
                background-color: #2D2D2D;
            }
        }
    }

}

// banner about of about us page
.banner-about-below {
    @include size(100%, 327px);
    background-image: url('../image/banner/banner-about-below.jpg');

    .row-about {
        text-align: center;
        color: white;
        h2 {
            font-weight: bold;
            font-size: 50px;
        }
        p {
            font-size: 25px;
        }
    }
}

// contact us
.contact-us {
    .banner-contact-us {
        @include size(100%, 510px);
        .image-contact {
            @include size(100%, 400px);
            @include display(absolute, 1);
        }
        .content-contact {
            padding-top: 80px;
            h2 {
                @include display(relative, 1);
                font-family: 'Ubuntu', sans-serif;
                font-weight: bold;
                color: white;
                font-size: 60px;
            }
            p {
                color: white;
                font-size: 20px;
                font-family: 'Ubuntu', sans-serif;
            }
            .contact-us-info {
                @include display(relative, 1);
            }
            .contact-us-phone {
                @include display(relative, 1);
                font-weight: bold;
            }
            button {
                @include display(relative, 1);
                @include size(200px, 50px );
                font-size: 20px;
                color: black;
                background: orange;
                border-radius: 5px;
                text-transform: uppercase;
                border:none;
            }
        }
    }
}


.great-service {
    img {
        @include size(100%, 250px);
        border-radius: 15px;
    }
    h2 {
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }
    p {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
    button {
      @include size(100px, 50px);
        background: orange;
        font-family: 'Ubuntu', sans-serif;
        border:none;
        font-size: 16px;
    }
}

.footer-all {
    .row-footer-top {
        @include size(100%, 400px);
        background-color: #252525;
        .container {
            display: block;
            .row {
                .footer-row-one {
                    position: relative;
                    min-height: 1px;
                    color: white;

                    li {
                       font-size: 20px;
                    }

                }
            }
        }
    }
    .footer-div-parent {
        .container {
            border-radius: 10px;
            height: 100px;
            background-color: #303030;
            .logo-footer {
                img {
                    @include size(180px, auto);
                }
            }
            p {
                color: white;
                font-family: 'Ubuntu', sans-serif;
                font-size: 20px;
            }
        }
    }
}



