.container {
    .row-about-top {
        padding-top: 40px;
        .title-about {
            text-align: center;
        }
    }
    .row-about-center {
        padding-top: 20px;
    }
    .row-about-bottom {
        padding-top: 20px;
    }
}
.banner-about-below {
    .row-about {
        text-align: center;
        .statistical {
            padding-top:70px;
        }
    }
}

