.banner-image {
    margin: 0;
    padding: 0;
    .form-search-product {
        padding-top: 200px;
        .title-search{
            .content-search {
                h2, h3 {
                    text-align: center;
                }
             }
            .search-form-car {
                padding: 100px;
                text-align: center;
                .select-product {
                    text-align: center;
                    margin-right: 15px;
                }
            }
        }
    }
}
