.content-info {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 20px;
    .content-info-common {
        padding-top: 60px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 70px;
        h2 {
            margin: 0;
        }
        .content-info-left {
            text-align: center;
        }
        .content-info-center {
            text-align: center;
        }
        .content-info-right {
            text-align: center;
        }
    }
}
