.container {
	.img-product {
		.img-info-product {
			margin: 20px;
			h3 {
				text-align: center;
				padding: 0px;
			}
		}
	}
	.marq {
		margin: 20px;
		.marq-img {
			padding-right: 50px;
		}
	}
	.info-service {
		text-align: center;
        padding: 20px;
	}
	.info-package-shop {
		.details-package {
			text-align: center;
		}
	}
}
