.footer-all {
    padding-top: 20px;
    .row-footer-top {
        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
            .row {
                margin-left: -15px;
                margin-right: -15px;
                .footer-row-one {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
    }
    .footer-div-parent {
        .container {
            .logo-footer {
                img {
                    padding-top: 40px;
                }
                p {
                    padding-top: 40px;
                }
            }
        }
    }
}
