
.select-date{
    .date{
        margin: 0;
        padding: 0;
        padding-left: 20px;
        padding-bottom: .5em;
        .name-legend{
            margin: 0;
            padding: 0;
        }
        label{
            top: -20em;
            left: -200em;
        }
        select{
            margin: 0;
            padding: 0;
        }
        .inst{
            padding-left: .25em;
        }
    }
}
