body {
    margin: 0;
}

.header {
    height: 90px;
    padding: 16px 0px 6px 40px;
    .nav-left {
        h1 {
            margin-top: 0px;
            margin-right: 10px;
            float: left;
        }
        ul {
            padding: 0px;
            float: left;
            li {
                float: left;
                margin-left: 20px;
                a {
                    &.homered {
                        margin: -20px;
                        padding: 28px 20px 51px 10px;
                    }
                    &:hover.homeblack {
                        margin-top: -20px;
                        padding: 28px 20px 51px 10px;
                    }
                }
            }
        }
    }
    .nav-right {
        float: right;
    }
}
