.product-page-title {
    border-bottom: 3px solid;
    h3 {
        text-align: left;
        padding-left: 30px;
    }
}

.info-product-shop {
    text-align: center;
    .show-product {
        padding-top: 20px;
    }
    .add-cart {
        margin-top: 50px;
        padding: 15px;
    }
}
